.favorit-brand {
  width: 100%;
  height: 225px;
  display: flex;
  justify-content: center;
 margin-bottom: 20px;
  .favorit-brand-center {
    width: 70%;
    height: 100%;
    border-radius: var(--borderradus);
    border: 1px solid lightgray;
    .favorit-brand-center-top {
      width: 100%;
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      .favorit-brand-center-top-link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        .favorit-brand-center-top-link-svg {
          margin-top: 20px;
        }
        .favorit-brand-center-top-link-text {
          font-family: var(--font-family);
          font-weight: normal;
          font-size: 20px;
          color: #2b2b2b;
          margin-right: 8px;
          margin-top: 20px;
          text-decoration: none;
        }
      }
    }
    .favorit-brand-center-end{
        width: 100%;
      height: 70%;
      padding-top: 20px;
      padding-bottom: 20px;

        .swiper {
            width: 100%;
            height: 100%;
          }
    
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            .swiper-slide-item {
              width: inherit;
              height: inherit;
              border-left: 1px solid lightgrey;
    
              .swiper-slide-item-link {
                width: inherit;
                height: inherit;
                display: flex;
                justify-content: center;
                align-items: center;
                .swiper-slide-item-link-img {
                  width: 85px;
                  height: 85px;
                }
              }
            }
          }
    
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
      }
    }
    
}
