*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fonts */
@font-face {
    font-family:Iranyekn;
    src: url(../fonts/iranyekanwebbold.cfb6e26c.woff2);

}
@font-face {
    font-family:pershian-number;
    src: url(../fonts/B-NAZANIN.TTF);

}

@font-face {
    font-family: bnazanin;
    src: url(../../fonts/bnazanin/BNazanin.eot);
    src: url(../../fonts/bnazanin/BNazanin.ttf);
    src: url(../../fonts/bnazanin/BNazanin.woff);
    src: url(../../fonts/bnazanin/BNazanin.woff2);
  }
/* variable...متغیرها */
:root{
     --font-family:Iranyekn;
     --font-number:pershian-number;
     --borderradus:15px;
     --width-center:70%;
}
.wrapper{
    width: 100%;
   
    
  
   
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
    width: 40px;
    height: 40px;
    background-color: rgb(254, 254, 254);
    border: 1px solid  lightgray;
    border-radius: 50%;

}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    font-size: 14px;
    color: #2b2b2b;
    font-weight: bold;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    opacity: 0;
}